<header id="volunteer-edition">
    <div class="wrapper">
        <div id="main-heading">
            <h1 class="red">Volunteering</h1>
            <h1 class="blue larger">Opportunities</h1>
        </div>
        <div id="main-info">
            <div class="content-wrapper">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <img src="../assets/images/ninja_share.png" id="hero-image" />
    </div>
</header>
{{ $placement := "left" }}
{{ range .Site.Data.team }}
<section class="featured {{ if eq .placement $placement }}reversed{{ end }}">
    <div class="wrapper">
        <img src="../{{ .img }}" class="featured-image" />
        <div class="content-wrapper">
            <h2>{{ .role }}</h2>
            <p>{{ .description }}<p>
            <button>Learn More</button>
        </div>
    </div>
</section>
{{ end }}
